/* General Styles */
body {
    font-family: "Helvetica", serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgba(55,65,81,255);
    color: black;
}

main h2 {
    text-align: center;
    color: white;
    margin-bottom: 1em;
    font-size: x-large;
}
a {
    color: #00274C;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Header Styles */
header {
    background-color: #00274C;
    color: #FFCB05;
    text-align: center;
    padding: 2em 0;
}
header .profile img {
    width: 150px;
    height: 150px;
    border-radius: 30%;
    margin-bottom: 1em;
}
header .cv-link {
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: #FFCB05;
    color: #00274C;
    border: 1px solid #FFCB05;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
header .cv-link:hover {
    background-color: #00274C;
    color: #FFCB05;
    border: 1px solid #FFCB05;
}

/* Main Styles */
main {
    padding: 2em;
}

main .bio,
main .research {
    max-width: 900px;
    margin: 0 auto;
}

main .bio {
    background: white;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    display: block;
    flex-wrap: wrap;
    padding: 1em;
    margin-bottom: 2.5em;
}
main .bio img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

main .bio-description {
    flex: 1;
    padding: 1em;
}

main .bio-description h2 {
    margin-top: 0;
}

main .bio-description p {
    margin: 0.5em 0 0;
}

main .research {
    max-width: 900px;
    margin: 0 auto;
}
main .research h2 {
    text-align: center;
    margin-bottom: 1em;
}
main .research-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
main .research-item img {
    width: 100%;
    max-width: 300px;
    height: auto;
}
main .research-description {
    flex: 1;
    padding: 1em;
}
main .research-description h3 {
    margin-top: 0;
}
main .research-description p {
    margin: 0.5em 0 0;
}

footer {
    text-align: center;
    padding: 3em;
    background-color: #00274C;
    color: #FFCB05;
}

footer .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

footer .logos img {
    height: 80px; 
    width: auto;
    object-fit: contain;
}

/* Responsive Styles */
@media (max-width: 768px) {
    main .research-item {
        flex-direction: column;
        text-align: center;
    }
    main .research-item img {
        max-width: 100%;
    }
}

.keywords {
    text-align: center;  
    color:white;   
}

.position {
    text-align: center;  
    color:#41b2a9;   
}

.centered-italic {
    text-align: center;
    color: rgba(55,65,81,255);
    
    font-size: large;
    margin-bottom: 5px;
    display: block;
    font-style: italic;
    margin: 10 auto; 
}

.section-divider {
    width: 30%; 
    margin: -1em auto; 
    border: none;  
    height: 10px; 
    background-color: #75988c; 
    border-radius: 2px; 
}